


.container{
    margin: auto;
    width: fit-content;
    border: solid;
    border-color: grey;
}
h1{
    color: rgb(124, 92, 182);
    text-align: center;
}
.gridColumn{
    border: solid 0.5px; 
    border-color: black;
    height: 32px;
    width: 32px;

}
.gridColumn:hover{
    background-color: black;
}